body {
    background-image: linear-gradient(45deg, rgb(255, 60, 0), rgb(255, 200, 0));
}

.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 490px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    border: 1px solid lightgray;
}

.scrollContainer {
    overflow-y: scroll;
    flex:12;
    border-top: 1px solid lightgray;
}

.newsList {
    width: 100%;
    padding: 10px;
}

.bookmarkLayout {
    display: inline-block;
    align-items: center;
    border-radius: 8px;
    padding-left: 5px;

}


.texte{
    width: fit-content;
}